* {
  font-family: Poppins;
}
.navbar {
  display: flex;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
}
.navbar-brand {
  color: rgba(47, 47, 47, 0.98);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

span {
  color: rgba(255, 155, 80, 0.98);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

span2 {
  color: rgba(255, 155, 80, 0.98);
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container {
  display: flex;
  align-items: baseline;
}

.navbar-nav {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn {
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 10px;
  background: rgba(255, 155, 80, 0.98);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn:hover {
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.98);
  background: rgba(47, 47, 47, 0.98);
}

.herosection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95rem;
}

h1 {
  margin-bottom: 0;
}

.head {
  color: rgba(47, 47, 47, 0.98);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  justify-content: flex-start;
  align-items: flex-start;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 95rem;
}

.about,
p {
  width: 400px;
  align-items: baseline;
}
