body {
  font-family: Poppins;
}

.navbar {
  padding: 8px 0px;
}

.navbar-brand {
  color: rgba(47, 47, 47, 0.98);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

span {
  color: rgba(255, 155, 80, 0.98);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.navbar-nav {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-link {
  margin: 0px 15px;
}

.btn {
  border-radius: 10px;
  background: rgba(255, 155, 80, 0.98);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.98);
  background: rgba(47, 47, 47, 0.98);
}

.container-lg {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.content {
  color: rgba(47, 47, 47, 0.98);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  justify-content: flex-start;
  align-items: flex-start;
}

span2 {
  color: rgba(255, 155, 80, 0.98);
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  width: fit-content;
  text-align: justify;
}

.info {
  display: flex;
  justify-content: first baseline;
  align-items: baseline;
  color: rgba(255, 155, 80, 0.98);
}

.item {
  display: flex;
  align-items: baseline;
  margin-right: 8px;
}
